PORT=3000
NODEPOP_ENV=development
MONGODB_CONNSTR=mongodb://localhost/nodepop
SESSION_SECRET="secret_string"
JWT_SECRET="secret_string"
RABBITMQ_BROKER_URL=amqps://user:pass@host

# Ethereal email configuration (development)
# EMAIL_SERVICE_HOST=smtp.ethereal.email
# EMAIL_SERVICE_PORT=587
# EMAIL_SERVICE_SECURE=false
# EMAIL_SERVICE_USER=create one from https://ethereal.email/
# EMAIL_SERVICE_PASSWORD=create one from https://ethereal.email/
# EMAIL_SERVICE_FROM=admin@example.com

# Ethereal email configuration (production)
EMAIL_SERVICE_HOST=smtp.ethereal.email
EMAIL_SERVICE_PORT=587
EMAIL_SERVICE_SECURE=false
EMAIL_SERVICE_USER=your-production-ethereal-user
EMAIL_SERVICE_PASSWORD=your-production-ethereal-password
EMAIL_SERVICE_FROM=admin@nodepop.com

# Email with Gmail (requires App Password)
# EMAIL_SERVICE_NAME=gmail
# EMAIL_SERVICE_HOST=smtp.gmail.com
# EMAIL_SERVICE_PORT=587
# EMAIL_SERVICE_SECURE=false
# EMAIL_SERVICE_USER=your-email@gmail.com
# EMAIL_SERVICE_PASSWORD=your-gmail-app-password
# EMAIL_SERVICE_FROM=your-email@gmail.com

# Email with Sendgrid
# EMAIL_SERVICE_NAME=sendgrid
# EMAIL_SERVICE_HOST=smtp.sendgrid.net
# EMAIL_SERVICE_PORT=587
# EMAIL_SERVICE_SECURE=false
# EMAIL_SERVICE_USER=apikey
# EMAIL_SERVICE_PASSWORD=your-sendgrid-api-key
# EMAIL_SERVICE_FROM=admin@yourdomain.com