body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.app-name {
  font-weight: bold;
  font-size: 20px;
  color: green;
  padding: 2px 5px;
}

.add-post {
  max-width: 600px;
}

.custom-section {
  margin-bottom: 30px;
}

.custom-section .form-group {
  margin-bottom: 20px;
}

.custom-section label {
  font-weight: bold;
}

/* .form-template .form-group {
  margin-bottom: 20px;
} */
